@import "tailwindcss";
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: fit-content;
  font-size: 25px;
  font-family: system-ui,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #415fb9;
  background: conic-gradient(#415fb9 0 0) 0/0% 100% no-repeat text;
  animation: l1 6s linear infinite;
}
.loader:before {
  content: "";
}
@keyframes l1 {
  to{background-size: 120% 100%}
}
.animate-spin-slow {
  animation: spin 5s linear infinite;
}
